# Dependencies
node_modules/

# Environment Variables
.env
.env.*
!.env.example

# Build Output
dist/
*.tsbuildinfo

# Logs
*.log
*.err
logs/

# Prisma migrations temporary artifacts
prisma/*.db
prisma/*.db-journal
